{erl_opts,           [debug_info, {src_dirs, ["test"]}]}.

{lfe_first_files,    []}.

{eunit_compile_opts, [{src_dirs, ["test"]}]}.

{plugins,
 [{'lfe-compile', {git, "git://github.com/lfe-rebar3/compile.git", {ref, "14843c8"}}}
  %% , {lodox, {git, "git://github.com/quasiquoting/lodox.git", {branch, "master"}}}
 ]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{deps,
 [{lfe, {git, "git://github.com/rvirding/lfe.git", {tag, "0.10.1"}}},
  {lutil, {git, "git://github.com/lfex/lutil.git", {tag, "0.7.0"}}},
  {ltest, {git, "git://github.com/lfex/ltest.git", {tag, "0.7.0"}}},
  {exemplar, {git, "git://github.com/lfex/exemplar.git", {tag, "0.3.0"}}},
  {elli, {git, "git://github.com/knutin/elli.git", {tag, "v1.0.5"}}},
  {json, {git, "git://github.com/talentdeficit/json.git", {branch, "master"}}},
  {lhc, {git, "git://github.com/lfex/lhc.git", {tag, "0.2.0"}}}
 ]}.

%% {lodox,
%%  [{apps,
%%    [{lodox,
%%      [{'source-uri',
%%        "https://github.com/yurrriq/emotisongs/blob/develop/{filepath}#L{line}"}]}]}]}.
